{% extends "base.html" %}
{% load static %}
{% block title %}Carousel{% endblock title %}

{% block content %}

<div class="album">

    <div class="container bg-dark">
        <div class="row p-1 m-1 ">

            <div class="col">
            {% if prev_picture %}
                <a class="carousel-control-prev" href="{{ prev_picture.id }}" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
            {% endif %}
            </div>




            <div class="col col-md-9">

                <div class="card mb-4 shadow">

                    <img class="card text-center" src="{{picture.photo.url}}">

                        <div class="">
                            <footer class="blockquote-footer text-center">
                            <small class="text-muted">
                            <h3>{{ picture.name }}</h3>
                            {% if picture.user.first_name %}
                                <p><span>©</span> {{ picture.user.first_name }} {{ picture.user.last_name }}</p>
                            {% endif %}
                            </small>
                            </footer>
                        </div>
                    </div>
                </div>

            <div class="col">
                {% if next_picture %}
                <a class="carousel-control-next" href="{{ next_picture.id }}" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                {% endif %}
            </div>


            </div>

        </div>
    </div>
</div>
{% endblock content %}