{% extends "base.html" %}
{% block title %}Gallery{% endblock title %}

{% block content %}

<div class="row p-3">
    <div class="col col-center">
         <div class="form-group">
              <label for="sel1">Choose a Category:</label>
              <select class="form-control" id="sel1">
                <option onclick="filterPerCategory('all');">All Categories </option>
                  {% for category in all_category %}
                <option onclick="filterPerCategory('{{ category.name }}');">{{ category.name }} </option>
                  {% endfor %}
              </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col p-3">
        {% for pictures in all_picture %}
        <div class="row">
        {% for item in pictures %}

            <div class="col {{ item.category }} category" id="category" align="center">
                  <h8>{{ item.name }}</h8>
                    <br/>
                  <a href="{% url 'portfolio:carouselv2' item.id %}"><img class="img-thumbnail" src="{{ item.photo }}" alt="{{ item.name }}" width="200"></a>
            </div>
        {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}