{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="pt-3 mx-4 text-center">
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

<form method="post" class="form-signin">
    {% csrf_token %}
    <input class="form-control" type="username" name="username" placeholder="Username" />
    <input class="form-control" type="password" name="password" placeholder="Password">
    <button class="btn btn-light btn-primary btn-block" type="submit">Submit</button>
</form>

<a>Not register: <a href="{% url 'portfolio:register' %}">Here</a></a>
</div>
{% endblock content %}