
{% extends "base.html" %}
{% block title %}Upload Image{% endblock title %}

{% block content %}

<div class="p-1"></div>

<div class="col-4" xmlns="http://www.w3.org/1999/html">
  <h4 class="mb-4">Upload Picture</h4>
</div>

<div class="col-6" xmlns="http://www.w3.org/1999/html">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

{% for field in form %}
  <!--  <div class="fieldWrapper">-->
        <div class="form-group row p-1 m-1">
          <!--<div class="col-md-6 mb-3">-->
        {{ field.errors }}
         <a class="col-sm-2">{{ field.label_tag }}</a>
            <div class="col-sm-4">
                {{ field }}
            </div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
         <!-- </div>-->
        </div>
{% endfor %}
    <div class="row p-1 m-1 text-center">
        <button type="submit" class="btn btn-light btn-primary btn-block">Submit</button>
    </div>

</form>
</div>
{% endblock content %}